* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}


.wrapper {
  width: 100%;
  position: relative;
  color: #fff;
}

.wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('assets/img/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  opacity: 1;
  z-index: -1;
}

/*---------------------------Navbar------------------------------------------ */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: #191c32;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.brand h2 {
  font-size: 24px;
  color: #fff;
}

.brand span {
  color: aqua;
}

.menu {
  display: flex;
  gap: 1em;
}

.menu li {
  list-style: none;
  font-size: 15px;
  font-weight: bold;

}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

.menu li:hover a {
  background-color: rgb(223, 242, 242);
  color: #191c32;
  border-radius: 15px;
}


.hamburger {
  display: none;
  font-size: 1.6em;
 }

/* ---------------------------------Main section ------------------------------------------*/
.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12em;
  margin-top: 3em;
  font-family: open-sans;
}

.info-content h1 {
  font-size: 4em;
}

.info-content span {
  color: aqua;
}

.info-content p {
  font-size: 2rem;
  font-weight: bold;
}

.download-cv {
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 20px;
  margin-top: 1em;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
  transition: background-color 2s, box-shadow 1s, transform 0.2s ease-in-out;
}

.download-cv:hover {
  background-color: aqua;
  box-shadow: 0px 5px 20px rgba(102, 231, 200, 0.5);
  transform: scale(1.1);
}


/*---------------------------------------- About me ----------------------------------------*/
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7em 2em;
  background-color: #f0f0f0;
  margin-top: 2em;
}

.about-content {
  display: flex;
  gap: 5em;
  width: 100%;
  align-items: center;
  margin-right: 8em;
}

.about-img {
  max-width: 400px;
  width: 100%;
  max-height: auto;
  border-radius: 200px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-img:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 20px rgba(0, 255, 255, 0.3);
}

.about-info {
  max-width: 100%;
}

.about-info h2 {
  font-size: 2em;
  color: #191c32;
  margin-bottom: 0.5em;
}

.divider {
  height: 3px;
  width: 60px;
  background-color: #66e7c8;
  margin-bottom: 1em;
}

.about-description {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 1.5em;
  transition: max-height 1s ease, opacity 0.5s ease;
  max-height: 4em;
  overflow: hidden;
  opacity: 0.8;
}

.about-description.expanded {
  max-height: 50em;
  opacity: 1;
}

.btn-toggle {
  padding: 10px 20px;
  background-color: #66e7c8;
  border: none;
  border-radius: 30px;
  color: #191c32;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-toggle:hover {
  background-color: #33b8a4;
  transform: scale(1.05);
}


/* ---------------------------------------------Portfolio section------------------------------------ */
.portfolio {
  padding: 7em 0;
  background-color: #191c32;
  font-family: open-sans;
}

.portfolio-heading h2 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 1em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;

}

.card {
  width: 300px;
  background-color: #2b3058;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card__img {
  width: 100%;
  height: 150px;
  background-image: url(assets/img/BG-Proyect.jpeg);
  background-position: bottom;
  background-size: contain;
}

.card__imgP2 {
  width: 100%;
  height: 150px;
  background-image: url(assets/img/WIP-BG-Proyects.png);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;

}


.card__imgP3 {
  width: 100%;
  height: 150px;
  background-image: url(assets/img/WIP-BG-Proyects.png);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}


.card__title h2 {
  padding: 1em;
  font-size: 1.5em;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
}

.card__title p {
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.6;
}

.card__proyect-links {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

.card__proyect-links a {
  color: #fff;
  font-size: 1.5em;
  transition: color 0.3s;
}

.card__proyect-links a:hover {
  color: aqua;
}

/*---------------------------------------- Contact section --------------------------------------*/
.contact-section {
  padding: 4em;
  text-align: center;
  background-color: #191c32;
  font-family: open-sans;
}

.contact-heading h2 {
  font-size: 2.5em;
  margin-bottom: 1em;
}

.container-contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-form {
  max-width: auto;
  margin: 0 auto;
  width: 80%;

}

.contact-form h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

textarea {
  resize: vertical;
}

.btn-submit {
  background-color: aqua;
  color: #191c32;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s;
  margin: auto;
}

.btn-submit:hover {
  background-color: #33b8a4;
  transform: scale(1.05);
}

/*------------------------------------------------ Footer ------------------------------------------*/
.footer {
  background-image: url(assets/img/bg.jpg);
  background-size: cover;
  padding: 2em;
  text-align: center;
  font-family: open-sans;
  color: #fff;
}

.footer-content h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.social-networks {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}

.social-networks i {
  color: white;
}

.social-networks i:hover {
  color: aqua;
}

/*---------------------------------------Media Queries-------------------------------------------*/
@media screen and (max-width: 880px) {
  .about-content {
    flex-direction: column;
    align-items: center;
    gap: 2em; 
    text-align: center;
    margin: 0 auto; 
  }

  .about-img {
    max-width: 60%;
  }

  .about-info .divider {
    margin-left: 46%;
  }

}

@media screen and (max-width: 770px) {

  .main {
    justify-content: center;
  }
  .info-content h1 {
    font-size: 3.5em; 
    text-align: center;
    display: flex;
  }

  .info-content h1 span {
    padding: 0 10px;
  }
  .info-content p {
    font-size: 2rem; 
    text-align: center; 
    line-height: 1.4; 
  }

  .info-content a {
    text-decoration: none;
    display: flex;
    justify-content: center;
  }

}

@media screen and (max-width: 570px) {

  .menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;  
    width: 60%;  
    height: 100%;
    background-color: #191c32;
    gap: 1.5em;
    padding-top: 2em;
    transition: right 0.4s ease; /* Transición suave */
  }

  .menu li {
    text-align: center;
    margin: 1em 0;
  }

  .hamburger {
    display: block;
    z-index: 1000;
  }

  /* Muestra el menú cuando está activo */
  .menu.active {
    right: 0; /* Mueve el menú a la vista */
  }
 }